.d-flex{
    display: flex !important;
}
.justify-content-between{
    justify-content: space-between !important;    
}
.ml-2{
    margin-left: 1.25rem !important;
}
.my-2{
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}
.p-1{
    padding: 0.75rem !important;
}
.bg-light{
    background-color: rgb(240, 240, 240) !important;
}
.ml-1{
    margin-left: 0.5rem !important;
}
.mr-1{
    margin-right: 0.5rem !important;
}
.bg-transparent{
    background-color: transparent !important;
}
.text-green{
    color: rgb(111, 164, 67) !important;
}
.text-bold{
    font-weight: bold !important;
}